@media only screen and (min-width: 0px) {
  :root {
    --text: #ffffff;
    --noir: #151515;
    --rouge: #f44056;
    --bleu: #2d8feb;
    --violet: #a03cce;
    --vert: #0c9d46;
    --bleu_clair: #049cb7;
    --violet_2: #622aff;
    --bleu_foncé: #3d44c3;
    --orange: #e66702;
  }
  :root {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400px;
    line-height: 1;
    color: #ffffff;

    justify-content: center;
    margin: 0;
    align-items: center;

    background: #000000;
    /* background-image: url(../img/background.jpg);  */
    background-size: cover;
    background-repeat: no-repeat;

    transition: 0.3s;

    height: 100vh;
    width: 100%;
    flex-direction: center;
  }
  .content_wrapper {
    flex-direction: center;
    position: relative;
    z-index: 1;
    scrollbar-width: none;

  }
  :root::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
  /** NAVBAR */
  .navbar {
    border-bottom: #2b2b2b solid 1px;
    background: rgba(21, 21, 21, 0.8);
    height: 54px;
    backdrop-filter: saturate(180%) blur(20px);
    color: #e2e2e2;
    font-size: 16pt;
    text-align: end;

    display: flexbox;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;

    padding-top: 10px;
    cursor: pointer;
    
    .textNavbar{
      padding-top: 10px;
      cursor: pointer;
      display: inline-block;
      transition: 0.5s;
      color: inherit;
      margin-left: 25px;
      margin-right: 25px;
      
    }
  }

  /** BOX  */
  .box {
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 5;
    position: relative;
    margin: auto;
    justify-content: center;
    background: rgba(21, 21, 21, 0.8);
    border-radius: 18px;
    width: 820px;
    margin-top: 14px;
    border: #2b2b2b solid 1px;
    .centre {
      margin-top: 140px;
    }
    .Grid {
      margin-top: 20px;
    }
    .Card {
      margin: auto;
      display: flex;
      
    }
  }

  /** GRADIENT  */
  .gradient {
    -webkit-text-fill-color: transparent;
    -text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 100% 500%;
  }
  .gradient.anime {
    animation: gradient 2s ease infinite;
    animation-direction: alternate
  }
  @keyframes gradient {
    0% {
      background-position: 0 0
    }

    100% {
      background-position: 0 100%
    }
  }
  
  .gA {
    background-image: rgb(37, 47, 255);
    background-image: linear-gradient(49deg, #e94d4d 0, #ff564a 30%, #ec4856 58%, #ff5b5b 95%);
    ;
  }
  .gB {
    background-image: rgb(37, 47, 255);
    background-image: linear-gradient(49deg, #c0c0c0 0, #ffffff 30%, #ffffff 58%, #c3c2eb 95%);
    ;
  }
  .gGold{
    background-image: rgb(37, 47, 255);
    background-image: linear-gradient(49deg, #fac022 0, #f89f3a 30%, #fdaf4a 58%, #ffeb7a 95%);
    ;
  }
  .gValid {
    background-image: rgb(37, 47, 255);
    background-image: linear-gradient(49deg, #7dff8f 0, #5fec6b 30%, #64eb86 58%, #65f896 95%);
    ;
  }
  .gError {
    background-image: rgb(37, 47, 255);
    background-image: linear-gradient(49deg, #dd4b4b 0, #ec5f5f 30%, #f34d4d 58%, #f86565 95%);
    ;
  }

  /** TEXT */
  .text {
    border-radius: 30px;
    text-align: left;
    justify-content:center;
    display: flex;
    color: #e2e2e2;
  }
  .textBaseline {
    border-radius: 30px;
    text-align: left;
    justify-content:baseline;
    display: flex;
    color: #e2e2e2;
  }
  .grey {
    color: #A1A1A6;
  }
  h1 {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    font-size: 34pt;
  }
  h2 {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 20px;
    font-size: 24pt;
    line-height: 36px;
    font-weight:600;
  }
  h6 {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 4px;
    font-size: 12pt;
    font-weight: normal;

  }
  p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 690px;
    line-height: 1.4;
    font-size: 16pt;
  }

  /** FORMULAIRE */
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  .boxForm {
    z-index: 5;
    position: relative;
    margin: auto;
    justify-content: center;
    background: rgba(21, 21, 21, 0.8);
    border-radius: 18px;
    width: 760px;
    margin-top: 200px;
    border: #2b2b2b solid 1px;
  }
  input {
    display: flex;
    margin: auto;
    margin-top: 16px;
    border-radius: 4px;
    justify-content: center;
    border-color: green;
    border: 1px solid #303030;
    background-color: rgba(14, 14, 14, 0.9);
    color: var(--text);
    height: 40px;
    width: 690px;
    font-size: 16pt;
    font-family: 'Chakra Petch', sans-serif;
  }
  textarea {
    display: flex;
    margin: auto;
    margin-top: 24px;
    justify-content: center;
    color: var(--text);
    max-width: 690px;
    max-height: 600px;
    border-radius: 8px;
    border-color: #303030;
    background-color: rgba(14, 14, 14, 0.9);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16pt;
  }
  .form {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    line-gap-override: 20px;
  }
  .button {
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-right: 62px;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
    border-radius: 4px;
  }
  .button input {
    color: #ffffff;
  }
  input:focus {
    border-color: #0c9d46;
    outline: none;
  }
  input:hover {
    color: #0c9d46;
    transition: 0.5s;
  }
  .input-file{
    display: none;
  }
  .label{
    margin-top: 20px;
    margin-right: 540px;
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
  }
  .pointer{
    cursor: pointer;
  }
  .gras{
    font-size: large;
    font-weight: bolder;
    margin-right: 50px;
    text-align: justify;
    justify-content:flex-end ;
    display: flex;
    margin-top: 8px;
  }
  .gras2  {
    font-size: large;
    font-weight: bolder;
    text-align:end;
    display: flex;
    margin-bottom: 8px;
  }
  textarea:focus {
    border-color: #0c9d46;
    outline: none;
  }
  li {
    list-style: inside;
    line-height: 30px;
  }
  th {
    text-align:start;
    padding: 20px;
  }
  a {
  text-decoration: transparent;
  }

  /** ICON */
.Icon{
  background-image: url('../img/round_power_settings_new_white_48dp.png');
    height: 20px;
    width: 20px;
    display: block;
  }

  }
